.percent-padding {
  padding-left: 8%; /* Thay đổi giá trị phần trăm theo nhu cầu của bạn */
  padding-right: 8%; /* Thay đổi giá trị phần trăm theo nhu cầu của bạn */
}

.percent-mobile-padding {
  padding-left: 7%; /* Thay đổi giá trị phần trăm theo nhu cầu của bạn */
  padding-right: 7%; /* Thay đổi giá trị phần trăm theo nhu cầu của bạn */
}
